extends ./layout.jade

mixin article(prefix)
  table(cellspacing="5"
        cellpadding="0"
        width="100%"
        border=table_border)
    tr
      td
        div(mc:edit=prefix + "_title")
          = '[Editable ' + prefix + '_title]'
    tr
      td(align="center")
        div(mc:edit=prefix + "_text_1"
            style="background-color: #4199d8; padding: 10px;")
          = '[Editable ' + prefix + '_text_1, maximum width: 278px]'
    tr
      td
        div(mc:edit=prefix + "_text_2")
          = '[Editable ' + prefix + '_text_2]'

block content
  table(cellspacing="0"
        cellpadding="0"
        border=table_border
        bgcolor="#ffffff"
        width="660")
    tr
      td
        table(cellspacing="15"
              cellpadding="0"
              border=table_border
              width="660")
          tr
            td(mc:edit="primary_title").
              [Editable primary_title]
          tr
            td(align="center")
              div(mc:edit="primary_text_1"
                  style="background-color: #4199d8; padding: 10px;").
                [Editable primary_text_1, maximum width: 610px]
          tr
            td
              div(mc:edit="primary_text_2").
                [Editable primary_text_2]
          tr
            td(align="center")
              +button('Apply online',
                      '[link_placeholder]',
                      {'background-color': '#63a635', 'color': '#fff'})
    tr
      td(height=row_gap
         bgcolor="#ebebeb")
    tr
      td
        table(cellspacing="15"
              cellpadding="0"
              width="660"
              border=table_border)
          tr
            td(valign="top"
               width="50%")
              +article('secondary')
            td(valign="top"
               width="50%")
              +article('tertiary')
